<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.droidtools.rubiksolver"
  xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.1" android:versionCode="11" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="android.os.Build.VERSION_CODES.JELLY_BEAN_MR2"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:allowBackup="true" tools:ignore="ExportedContentProvider">
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="@string/app_name" android:name=".LoadCube" android:screenOrientation="landscape" android:configChanges="orientation" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name=".Home" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name=".CheckFace" android:screenOrientation="portrait" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name=".Solution" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name=".StepSolution" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name=".Instructions" />
        <provider android:name=".HistoryProvider" android:authorities="com.droidtools.rubiksolver.HistoryProvider" />
    </application>
</manifest>
